USE [master]
GO
/****** Object:  Database [MobilyaDb]    Script Date: 26.12.2025 18:48:45 ******/
CREATE DATABASE [MobilyaDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MobilyaDb', FILENAME = N'C:\Users\ekcvo\MobilyaDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MobilyaDb_log', FILENAME = N'C:\Users\ekcvo\MobilyaDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MobilyaDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MobilyaDb]
GO
/****** Object:  Table [dbo].[anasayfa]    Script Date: 26.12.2025 18:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anasayfa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[foto] [nvarchar](250) NULL,
	[ustBaslik] [nvarchar](250) NULL,
	[ustIcerik] [nvarchar](max) NULL,
	[link] [nvarchar](50) NULL,
	[altBaslik] [nvarchar](250) NULL,
	[altIcerik] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hakkimizda]    Script Date: 26.12.2025 18:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hakkimizda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[foto] [nvarchar](250) NULL,
	[ustBaslik] [nvarchar](250) NULL,
	[baslik] [nvarchar](250) NULL,
	[icerik] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iletisimformu]    Script Date: 26.12.2025 18:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iletisimformu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adSoyad] [nvarchar](100) NULL,
	[eposta] [nvarchar](100) NULL,
	[mesaj] [nvarchar](max) NULL,
	[cinsiyet] [bit] NOT NULL,
	[izin] [bit] NOT NULL,
	[tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullanici]    Script Date: 26.12.2025 18:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanici](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
	[sifre] [nvarchar](50) NULL,
	[Rol] [nvarchar](50) NULL,
	[telefon] [nvarchar](50) NULL,
	[adres] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[magaza]    Script Date: 26.12.2025 18:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[magaza](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ustBaslik] [nvarchar](250) NULL,
	[anaBaslik] [nvarchar](250) NULL,
	[adres] [nvarchar](max) NULL,
	[telefon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[magazasaat]    Script Date: 26.12.2025 18:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[magazasaat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gun] [nvarchar](50) NULL,
	[saat] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[siparis]    Script Date: 26.12.2025 18:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[siparis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adSoyad] [nvarchar](150) NULL,
	[telefon] [nvarchar](50) NULL,
	[adres] [nvarchar](max) NULL,
	[tarih] [datetime] NULL,
	[toplamTutar] [decimal](18, 2) NULL,
	[durum] [nvarchar](50) NULL,
	[kullaniciId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[siparisdetay]    Script Date: 26.12.2025 18:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[siparisdetay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[siparisId] [int] NOT NULL,
	[urunId] [int] NULL,
	[fiyat] [decimal](18, 2) NULL,
	[adet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urunler]    Script Date: 26.12.2025 18:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[baslik] [nvarchar](150) NULL,
	[ustBaslik] [nvarchar](150) NULL,
	[icerik] [nvarchar](max) NULL,
	[foto] [nvarchar](250) NULL,
	[Fiyat] [int] NULL,
	[sira] [int] NOT NULL,
	[aktif] [bit] NOT NULL,
	[stok] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[anasayfa] ON 

INSERT [dbo].[anasayfa] ([id], [foto], [ustBaslik], [ustIcerik], [link], [altBaslik], [altIcerik]) VALUES (1, N'Gemini_Generated_Image_d53cu1d53cu1d53c.png', N'YENİ SEZON', N'<p>Evinizin havasını değiştirecek, konfor ve şıklığı bir arada sunan modern koleksiyonumuzla tanışın.</p>', N'asas', N'EVİNİZİN YENİ TARZI', N'<p>Kaliteli kumaşlar, dayanıklı ahşaplar ve usta işçilik. Mobilya Dünyası ile yaşam alanlarınıza değer katın.</p>')
SET IDENTITY_INSERT [dbo].[anasayfa] OFF
GO
SET IDENTITY_INSERT [dbo].[hakkimizda] ON 

INSERT [dbo].[hakkimizda] ([id], [foto], [ustBaslik], [baslik], [icerik]) VALUES (1, N'Gemini_Generated_Image_spz9ncspz9ncspz9.png', N'YILLARIN TECRÜBESİ', N'KALİTE VE GÜVENİN ADRESİ', N'<p>2025 yılında kurulan Mobilya Dünyası, ahşabın sıcaklığını ve modern tasarımın şıklığını evlerinize taşımayı amaçlamaktadır. Küçük bir atölyede başlayan yolculuğumuz, bugün binlerce mutlu müşteriye ulaşan büyük bir aileye dönüştü. Önceliğimiz her zaman kaliteli malzeme, kusursuz işçilik ve müşteri memnuniyetidir. Evinizin her köşesine değer katmak için buradayız.</p>')
SET IDENTITY_INSERT [dbo].[hakkimizda] OFF
GO
SET IDENTITY_INSERT [dbo].[kullanici] ON 

INSERT [dbo].[kullanici] ([id], [ad], [sifre], [Rol], [telefon], [adres]) VALUES (1, N'admin', N'202cb962ac59075b964b07152d234b70', N'Yonetici', NULL, NULL)
INSERT [dbo].[kullanici] ([id], [ad], [sifre], [Rol], [telefon], [adres]) VALUES (3, N'OmerKara', N'81dc9bdb52d04dc20036dbd8313ed055', N'Admin', N'05078404202', N'adana merkez')
INSERT [dbo].[kullanici] ([id], [ad], [sifre], [Rol], [telefon], [adres]) VALUES (4, N'omer', N'81dc9bdb52d04dc20036dbd8313ed055', N'Admin', NULL, NULL)
SET IDENTITY_INSERT [dbo].[kullanici] OFF
GO
SET IDENTITY_INSERT [dbo].[magaza] ON 

INSERT [dbo].[magaza] ([id], [ustBaslik], [anaBaslik], [adres], [telefon]) VALUES (1, N'COME ON IN', N'Çalisma Saatleri', N'<p><i><strong>1116 Orchard Street</strong></i><br><i>Golden Valley, Minnesota</i></p>', N'(317) 585-8468')
SET IDENTITY_INSERT [dbo].[magaza] OFF
GO
SET IDENTITY_INSERT [dbo].[magazasaat] ON 

INSERT [dbo].[magazasaat] ([id], [gun], [saat]) VALUES (1, N'Hafta Içi', N'09:00 - 19:00')
INSERT [dbo].[magazasaat] ([id], [gun], [saat]) VALUES (2, N'Hafta Sonu', N'10:00 - 18:00')
SET IDENTITY_INSERT [dbo].[magazasaat] OFF
GO
SET IDENTITY_INSERT [dbo].[siparis] ON 

INSERT [dbo].[siparis] ([id], [adSoyad], [telefon], [adres], [tarih], [toplamTutar], [durum], [kullaniciId]) VALUES (1, N'musteri', N'232323232323', N'huwsuihdbihsbndis', CAST(N'2025-12-25T23:04:50.783' AS DateTime), CAST(18500.00 AS Decimal(18, 2)), N'İptal', 3)
INSERT [dbo].[siparis] ([id], [adSoyad], [telefon], [adres], [tarih], [toplamTutar], [durum], [kullaniciId]) VALUES (2, N'emre', N'05125125125', N'ankara', CAST(N'2025-12-25T23:10:41.947' AS DateTime), CAST(18500.00 AS Decimal(18, 2)), N'Bekleniyor', 5)
INSERT [dbo].[siparis] ([id], [adSoyad], [telefon], [adres], [tarih], [toplamTutar], [durum], [kullaniciId]) VALUES (3, N'OmerKara', N'05078404202', N'adana merkez', CAST(N'2025-12-26T00:15:25.800' AS DateTime), CAST(4200.00 AS Decimal(18, 2)), N'Bekleniyor', 3)
SET IDENTITY_INSERT [dbo].[siparis] OFF
GO
SET IDENTITY_INSERT [dbo].[siparisdetay] ON 

INSERT [dbo].[siparisdetay] ([id], [siparisId], [urunId], [fiyat], [adet]) VALUES (1, 1, 1, CAST(18500.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[siparisdetay] ([id], [siparisId], [urunId], [fiyat], [adet]) VALUES (2, 2, 1, CAST(18500.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[siparisdetay] ([id], [siparisId], [urunId], [fiyat], [adet]) VALUES (3, 3, 3, CAST(4200.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[siparisdetay] OFF
GO
SET IDENTITY_INSERT [dbo].[urunler] ON 

INSERT [dbo].[urunler] ([id], [baslik], [ustBaslik], [icerik], [foto], [Fiyat], [sira], [aktif], [stok]) VALUES (1, N'Chester Koltuk', N'Salon Takimi', N'<p>Silinebilir kumas, rahat oturum.</p>', N'koltuk1.jpg', 19500, 1, 1, 47)
INSERT [dbo].[urunler] ([id], [baslik], [ustBaslik], [icerik], [foto], [Fiyat], [sira], [aktif], [stok]) VALUES (2, N'Ahsap Masa', N'Yemek Odasi', N'6 Kisilik ceviz masa.', N'masa1.jpg', 8500, 2, 1, NULL)
INSERT [dbo].[urunler] ([id], [baslik], [ustBaslik], [icerik], [foto], [Fiyat], [sira], [aktif], [stok]) VALUES (3, N'TV Ünitesi', N'Yasam Ünitesi', N'Modern tasarim TV ünitesi.', N'unite1.jpg', 4200, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[urunler] OFF
GO
ALTER TABLE [dbo].[iletisimformu] ADD  DEFAULT ((0)) FOR [cinsiyet]
GO
ALTER TABLE [dbo].[iletisimformu] ADD  DEFAULT ((0)) FOR [izin]
GO
ALTER TABLE [dbo].[iletisimformu] ADD  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[siparis] ADD  DEFAULT ('Bekleniyor') FOR [durum]
GO
ALTER TABLE [dbo].[urunler] ADD  DEFAULT ((0)) FOR [sira]
GO
ALTER TABLE [dbo].[urunler] ADD  DEFAULT ((1)) FOR [aktif]
GO
ALTER TABLE [dbo].[urunler] ADD  DEFAULT ((0)) FOR [stok]
GO
ALTER TABLE [dbo].[siparisdetay]  WITH CHECK ADD  CONSTRAINT [FK_siparisdetay_siparis] FOREIGN KEY([siparisId])
REFERENCES [dbo].[siparis] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[siparisdetay] CHECK CONSTRAINT [FK_siparisdetay_siparis]
GO
ALTER TABLE [dbo].[siparisdetay]  WITH CHECK ADD  CONSTRAINT [FK_siparisdetay_urunler] FOREIGN KEY([urunId])
REFERENCES [dbo].[urunler] ([id])
GO
ALTER TABLE [dbo].[siparisdetay] CHECK CONSTRAINT [FK_siparisdetay_urunler]
GO
USE [master]
GO
