@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Mobilya Yönetim</title>

    <link href="~/Content/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Content/admin/css/sb-admin.css" rel="stylesheet">

    <style>
        .bg-mobilya {
            background-color: #2c3e50 !important;
        }
        /* Koyu Mavi Üst Bar */
        .sidebar-mobilya {
            background-color: #343a40 !important;
        }
        /* Koyu Gri Menü */
    </style>
</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-mobilya static-top">
        @if (Session["Rol"] != null && Session["Rol"].ToString() == "Yonetici")
        {
            <a class="navbar-brand mr-1" href="/Urunler/Index">Mobilya Yönetim</a>
        }
        else
        {
            <a class="navbar-brand mr-1" href="/SiparisYonetim/Index">Mobilya Yönetim</a>
        }

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
                    <i class="fas fa-user-circle fa-fw"></i> @(Session["KullaniciAdi"] != null ? Session["KullaniciAdi"] : "Admin")
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Çıkış Yap</a>
                </div>
            </li>
        </ul>
    </nav>

    <div id="wrapper">
        <ul class="sidebar navbar-nav sidebar-mobilya">

            <li class="nav-item">
                <a class="nav-link" href="/SiparisYonetim/Index">
                    <i class="fas fa-fw fa-shipping-fast"></i>
                    <span>Sipariş Yönetimi</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Iletisim/Index">
                    <i class="fas fa-fw fa-envelope"></i>
                    <span>Gelen Mesajlar</span>
                </a>
            </li>

            @if (Session["Rol"] != null && Session["Rol"].ToString() == "Yonetici")
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Urunler/Index">
                        <i class="fas fa-fw fa-couch"></i> <span>Ürün Yönetimi</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Kullanici/Index">
                        <i class="fas fa-fw fa-users-cog"></i>
                        <span>Personel / Adminler</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/MagazaSaatler/Index">
                        <i class="fas fa-fw fa-clock"></i>
                        <span>Çalışma Saatleri</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Anasayfa/Index">
                        <i class="fas fa-fw fa-home"></i>
                        <span>Vitrin Ayarları</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Hakkimizda/Index">
                        <i class="fas fa-fw fa-info-circle"></i>
                        <span>Hakkımızda Yazısı</span>
                    </a>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link" href="/Default/Index" target="_blank">
                    <i class="fas fa-fw fa-external-link-alt"></i>
                    <span>Siteye Git</span>
                </a>
            </li>
        </ul>

        <div id="content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>

            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Mobilya Dünyası 2025</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Oturumu Kapat</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Çıkış yapmak istediğinize emin misiniz?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <a class="btn btn-primary" href="/Login/Logout">Çıkış</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/admin/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Content/admin/js/sb-admin.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>